body 
{
    background: #F4F1EC;
    font-family: 'Kanit';

    max-width: 100%;
    height: 900px;
    margin: auto;
}

/* ------------------ */
/* ----- nivbar ----- */
/* ------------------ */
.niv_bar {

    width: 100%;
    height: 150px;
}

/* ----- logo ATPC bank ----- */
.niv_bar .logo {
    display: block;    
    float: left;
    margin-top: 29px;    
    margin-left: 29px;   
}

/* ----- LOGOUT botton ----- */
.niv_bar .btn{
    display: block;    
    float: right;

    margin-top: 51px;    
    margin-right: 50px;  

    width: 131px;
    height: 41px;

    background: #7585BD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    border: 0px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #F4F1EC;
}
/* ----- botton when hover ----- */
.btn::before,
.btn::after{
    position: absolute;
    display: block;
    content: '';
    transition: all .5s;
}

.btn:hover {
    background-color: #E36262;
    color: #F4F1EC;
}


/* ----- user's email show here! ----- */
.niv_bar .user_detail{
    display: block;  
    float: right;  

    margin-top: 51px;    
    margin-right: 10px;  

    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;

    color: #414141;
}

/* ----- user's icon show here! ----- */
.niv_bar .icon{
    display: block;  
    float: right;  

    width: 58.36px;
    height: 58.36px;

    margin-top: 43px;    
    margin-right: 20px;  
}



/* ------------------------ */
/*  ----- header text ----- */
/* ------------------------ */
.header_txt {
    position: absolute;
    width: 100%;
    top: 181px; 
    display: block;
    text-align: center;

    font-weight: bold;
    font-size: 64px;
    line-height: 50px;
    color: #7585BD;
}


/* ---------------------------- */
/* ----- fill information ----- */
/* ---------------------------- */
.container_fill_info {
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
}

.text_fill {
    position: relative;
    height: 36px;
    top: 165px;

    font-size: 24px;
    line-height: 36px;
    color: #414141;
}


/* ----- blank space for get input ----- */
.fill_information {
    position: relative;
    height: 28px;
    top: 180px;
}

.fill_information input{
    width: 322px;
    height: 40px;
    left: 69px;
    padding-left: 15px;
    margin-bottom: 12px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    background: #C4C4C4;
    border-radius: 35px;
    border: 0px
}

select {
    width: 338px;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 12px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #414141;

    background: #C4C4C4;
    border-radius: 35px;
    border: 0px
}

select option  {
    color: #414141;
    border: 5px solid #C4C4C4;
}

::placeholder {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #F4F1EC;
    padding-left: 5px;
} 


/* -------------------------- */
/* ----- CONNECT botton ----- */
/* -------------------------- */
.connect .btn{
    position: relative;
    width: 197px;
    height: 54px;
    margin-top: 500px;

    background: #7585BD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;

    border: 0px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;

    color: #F4F1EC;
}

.connect .btn:hover {
    background-color: #7EAC85;
    color: #F4F1EC;
}