body 
{
    background: #F4F1EC;
    font-family: 'Kanit';
    
    max-width: 100%;
    height: 800px;
    margin: auto;
}

/* ------------------ */
/* ----- nivbar ----- */
/* ------------------ */
.niv_bar {

    width: 100%;
    height: 150px;
}

/* ----- logo ATPC bank ----- */
.niv_bar .logo {
    display: block;    
    float: left;
    margin-top: 29px;    
    margin-left: 29px;   
}

/* ----- LOGOUT botton ----- */
.niv_bar .btn{
    display: block;    
    float: right;

    margin-top: 51px;    
    margin-right: 50px;  

    width: 131px;
    height: 41px;

    background: #7585BD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    border: 0px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #F4F1EC;
}
/* ----- botton when hover ----- */
.btn::before,
.btn::after{
    position: absolute;
    display: block;
    content: '';
    transition: all .5s;
}

.btn:hover {
    background-color: #E36262;
    color: #F4F1EC;
}

/* ----- staff's email show here! ----- */
.niv_bar .user_detail{
    display: block;  
    float: right;  

    margin-top: 51px;    
    margin-right: 10px;  

    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;

    color: #414141;
}

/* ----- staff's icon show here! ----- */
.niv_bar .icon{
    display: block;  
    float: right;  

    width: 58.36px;
    height: 58.36px;

    margin-top: 43px;    
    margin-right: 20px;  
}

/* ----- BACK botton ----- */
.niv_bar .back .btn{
    width: 90px;
}

.niv_bar .back{
    position: absolute;
    height: 41px;
    left: 30px;
    top: 70px;
}



/* ------------------------------ */
/* ----- form for get input ----- */
/* ------------------------------ */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
}

/* ----- logo ATPC bank ----- */
.logo {
    text-align: center;
}

/* ----- ACCOUNT REPORT text -----  */
.Text-with-line {
    text-align: center;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    
    color: #414141;

    display: block;
}
  
.Text-with-line:before,
.Text-with-line:after {
    content: "";
    display: inline-block;
    border-top: 1px solid #414141;
    width: 5em;
    vertical-align: middle;
}


/* -----  blank space for get input ----- */
.acc_number{
    text-align: center;
}

.acc_number input {
    width: 322px;
    height: 40px;

    padding-left: 15px;
    margin-bottom: 12px;

    background: #C4C4C4;
    border-radius: 35px;
    border: 0px
}

::placeholder {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #F4F1EC;
    padding-left: 5px;
}


/* --------------------------- */
/* ----- comfirm Buntton ----- */
/* --------------------------- */
.confirm .btn{
    margin-top: 30px;
    width: 150px;
    height: 45px;

    background: #7585BD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    border: 0px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #F4F1EC;
}

/* ----- CONFIRM botton when hover ----- */
.confirm .btn::before,
.confirm .btn::after {
    position: absolute;
    display: block;
    content: '';
    transition: all .5s;
}

.confirm .btn:hover {
    background-color: #7EAC85;
    color: #F4F1EC;
}

