body {
  background: #f4f1ec;
  font-family: "Kanit";

  max-width: 100%;
  height: 1000px;
  margin: auto;
}

/* ------------------ */
/* ----- nivbar ----- */
/* ------------------ */
.niv_bar {
  width: 100%;
  height: 150px;
}

/* ----- logo ATPC bank ----- */
.niv_bar .logo {
  display: block;
  float: left;
  margin-top: 29px;
  margin-left: 29px;
}

/* ----- LOGOUT botton ----- */
.niv_bar .btn {
  display: block;
  float: right;

  margin-top: 51px;
  margin-right: 50px;

  width: 131px;
  height: 41px;

  background: #7585bd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  border: 0px;

  font-family: "Kanit";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #f4f1ec;
}
/* ----- botton when hover ----- */
.btn::before,
.btn::after {
  position: absolute;
  display: block;
  content: "";
  transition: all 0.5s;
}

.btn:hover {
  background-color: #e36262;
  color: #f4f1ec;
}

/* ----- user's email show here! ----- */
.niv_bar .user_detail {
  display: block;
  float: right;

  max-width: 350px;
  margin-top: 51px;
  margin-right: 5px;

  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;

  color: #414141;
}

/* ----- user's icon show here! ----- */
.niv_bar .icon {
  display: block;
  float: right;

  width: 58.36px;
  height: 58.36px;

  margin-top: 43px;
  margin-right: 20px;
}

/* ------------------------ */
/* ----- Account List ----- */
/* ------------------------ */
.Account_list {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 217px;
  max-width: 579px;

  border: none;
  border-radius: 35px;
  background: #7585bd;

  left: 292px;
  outline: none;
}

p {
  font-family: "Kanit";
  color: #f4f1ec;
}

/* -- Account type -- */
p.AccountType {
  padding-top: 15px;
  font-size: 36px;
  font-weight: 400;

  text-align: left;
  margin-left: 35px;
}

/* -- Account number -- */
p.AccountNo {
  font-size: 24px;
  font-weight: 400;

  text-align: left;
  margin-left: 35px;
}

/* -- Balance in account -- */
p.Amounts {
  font-family: Kanit;
  font-style: normal;
  font-size: 64px;
  font-weight: 700;

  float: right;
  margin-right: 33px;
}

/* -- Indicates that it is the main account -- */
span.MainAccount {
  font-family: Kanit;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;

  width: 186px;
  height: 48px;

  border-radius: 35px;

  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  margin-left: 350px;

  background: rgba(194, 204, 236, 0.5);
  color: #414141;
}
