body {
  background: #f4f1ec;
  font-family: "Kanit";
  margin: -35px -35px 0 0;
}

.show_name {
  position: absolute;
  height: 41px;
  top: 51px;

  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  color: #414141;
}

/* ----- logo ATPC bank ----- */
.logo {
  position: absolute;
  width: 127px;
  height: 127px;
  left: 44px;
  top: 29px;
}

/* ----- user's name show here! ----- */
.icon {
  position: absolute;
  width: 58.36px;
  height: 58.36px;
  left: 758px;
  top: 43px;
}

.show_name {
  position: absolute;
  height: 41px;
  top: 51px;

  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  color: #414141;
}

/* ----- LOGOUT botton ----- */
.btn {
  position: absolute;
  width: 131px;
  height: 41px;
  left: 838px;
  top: 51px;

  background: #7585bd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  border: 0px;

  font-family: "Kanit";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #f4f1ec;

  outline: none;
}

/* ----- BACK botton ----- */
.back .btn {
  position: absolute;
  width: 95px;
  height: 41px;
  left: 59px;
  top: 144px;

  background: #7585bd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  border: 0px;

  font-family: "Kanit";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #f4f1ec;

  outline: none;
}

/* ----- botton when hover ----- */
.btn::before,
.btn::after {
  position: absolute;
  display: block;
  content: "";
  transition: all 0.5s;
}

.btn:hover {
  background-color: #e36262;
  color: #f4f1ec;
}

.back .btn:hover {
  background-color: #fee684;
  color: #7585bd;
}

/* ------ Account Detail button ------ */
.button {
  font-family: "Kanit";
  background-color: #7585bd;
  border: none;
  color: white;
  padding: 5px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  outline: none;
}

.button1 {
  height: 240px;
  width: 579px;

  border: none;
  border-radius: 35px;
  background: #7585bd;

  margin-left: 180px;
  outline: none;
}

p {
  font-family: "Kanit";
}

P.detail {
  font-size: 64px;
  font-weight: bold;
  font-style: normal;

  margin-top: 181px;
  margin-bottom: 0px;
  margin-left: 350px;

  color: #7585bd;
}

p.test1 {
  width: 384px;
  height: 60px;

  font-size: 40px;
  font-weight: 600;
  font-style: normal;

  text-align: left;
  margin-left: 28px;
  margin-top: 23px;
  margin-bottom: 0px;
  line-height: 60px;

  color: #f4f1ec;
}

p.test2 {
  width: 118px;
  height: 45px;

  font-size: 30px;
  font-weight: 500;

  text-align: left;
  margin-left: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 44.85px;

  color: #f4f1ec;
}

p.test4 {
  font-family: Kanit;
  font-style: normal;
  font-size: 48px;
  font-weight: 400;

  text-align: left;
  margin-left: 28px;
  margin-top: 0px;
  line-height: 44.85px;

  color: #f4f1ec;
}

/* ------ Lastest Transactions button ------ */

p.Lastest_Transactions {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;

  margin-top: 30px;
  margin-left: 180px;
  margin-bottom: 0px;

  color: #000000;
}

.TransactionsButton1 {
  height: 128px;
  width: 579px;

  font-size: 30px;
  font-weight: normal;
  font-style: normal;

  border: none;
  border-radius: 35px;
  background: #c2ccec80;

  margin-left: 180px;
  margin-top: 6px;

  outline: none;
}

.TransactionsButton2 {
  height: 128px;
  width: 579px;

  border: none;
  border-radius: 35px;
  background: #c2ccec80;

  margin-left: 180px;
  margin-top: 13px;

  outline: none;
}

.TransactionsButton3 {
  height: 128px;
  width: 579px;

  border: none;
  border-radius: 35px;
  background: #c2ccec80;
  margin-left: 180px;
  margin-top: 13px;

  outline: none;
}

p.test5 {
  width: 245px;
  height: 45px;

  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 45px;

  text-align: left;
  margin-top: 12px;
  margin-left: 30px;
  margin-bottom: 0px;

  color: #414141;
}

p.test6 {
  width: 141px;
  height: 28px;

  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28.41px;

  text-align: left;
  margin-left: -60px;
  margin-bottom: 0px;

  color: #414141;
}

p.test7 {
  width: 300px;
  height: 28px;

  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28.41px;

  margin-bottom: 0px;

  color: #414141;
}

p.test6,
p.test7 {
  display: inline-flex;
  margin-top: 0px;
}

/* ------ Amount in Lastest Transactions ------ */

p.signal {
  width: 15;
  height: 45px;

  font-family: Kanit;
  font-style: normal;
  font-size: 30px;

  float: right;
  line-height: 44.85px;

  color: #2f863d;
}

p.test8 {
  width: 147px;
  height: 45px;

  font-family: Kanit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  
  float: right;
  line-height: 44.85px;

  color: #2f863d;
}

p.unit {
  width: 37;
  height: 30px;

  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;

  float: right;
  margin-right: 30px;
  line-height: 44.85px;

  color: #2f863d;
}

p.signal,
p.test8,
p.unit {
  display: inline-flex;
  margin-top: -10px;
}
