body 
{
    background: #F4F1EC;
    font-family: 'Kanit';
    margin:-35px -35px 0 0;
}


/* ----- logo ATPC bank ----- */
.logo {
    position: absolute;
    width: 127px;
    height: 127px;
    left: 44px;
    top: 29px;    
}


/* ----- user's name show here! ----- */
.icon {
    position: absolute;
    width: 58.36px;
    height: 58.36px;
    left: 758px;
    top: 43px;
}

.show_name{
    position: absolute;
    width: 122px;
    height: 41px;
    left: 648px;
    top: 51px;

    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;

    color: #414141;
}


/* ----- LOGOUT botton ----- */
.btn{
    position: absolute;
    width: 131px;
    height: 41px;
    left: 838px;
    top: 51px;

    background: #7585BD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    border: 0px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #F4F1EC;
}


/* ----- BACK botton ----- */
.back .btn{
    position: absolute;
    width: 95px;
    height: 41px;
    left: 59px;
    top: 144px;

    background: #7585BD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    border: 0px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;

    color: #F4F1EC;
}


/* ----- botton when hover ----- */
.btn::before,
.btn::after{
    position: absolute;
    display: block;
    content: '';
    transition: all .5s;
}

.btn:hover {
    background-color: #E36262;
    color: #F4F1EC;
}

.back .btn:hover {
    background-color: #FEE684;
    color: #7585BD;
}


/*  ----- header text ----- */
.header_txt {
    position: absolute;
    width: 477px;
    height: 100px;
    left: 286px;
    top: 181px; 

    font-family: 'Kanit';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 50px;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #7585BD;

    display: block;
}


/* ----- fill information -----  */
.text_fill {
    position: absolute;
    width: 446px;
    height: 36px;
    left: 380px;
    top: 313px;

    display: flex;
    align-items: center;
    
    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;

    color: #414141;

    display: block;
}


/* ----- blank space for get input ----- */
::placeholder {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #F4F1EC;
    padding-left: 5px;
} 

.fill_information {
    position: absolute;
    width: 233px;
    height: 28px;
    left: 358px;
    top: 375px;
}

.fill_information input{
    width: 322px;
    height: 40px;
    left: 69px;
    padding-left: 15px;
    margin-bottom: 12px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    background: #C4C4C4;
    border-radius: 35px;
    border: 0px
}

select {
    width: 338px;
    height: 40px;
    left: 69px;
    padding-left: 15px;
    margin-bottom: 12px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #414141;

    background: #C4C4C4;
    border-radius: 35px;
    border: 0px
}

select option  {
    color: #414141;
    border: 5px solid #C4C4C4;
}


/* ----- CONNECT botton ----- */
.connect .btn{
    position: absolute;
    width: 197px;
    height: 54px;
    left: 425px;
    top: 655px;
    

    background: #7585BD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;

    border: 0px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;

    color: #F4F1EC;
}

.connect .btn:hover {
    background-color: #7EAC85;
    color: #F4F1EC;
}