body 
{
    background: #7585BD;
    font-family: 'Kanit';
   
    max-width: 500px;
    height: 800px;
    margin: auto;
}


/* ------------------------------ */
/* ----- background of form ----- */
/* ------------------------------ */
form{
    position: absolute;
    width: 456px;
    height: 642px;
    top: 63px;
    
    background: #F4F1EC;
    border-radius: 35px;
}


/* ------------------------------ */
/* ------- logo ATPC bank ------- */
/* ------------------------------ */
.logo {
    text-align: center;
    margin-top: 35px;
}


/* ------------------------------- */
/* -- blank space for get input -- */
/* ------------------------------- */
.SubmitForLogin{
    text-align: center;
}

.SubmitForLogin input {
    background: #C4C4C4;
    
    width: 322px;
    height: 40px;

    padding-left: 15px;
    margin-bottom: 12px;

    border-radius: 35px;
    border: 0px
}

::placeholder {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #F4F1EC;
    padding-left: 5px;
}


/* ------------------------ */
/* ----- Login botton ----- */
/* ------------------------ */
.SubmitForLogin .btn{
    margin-top: 16px;
    width: 197px;
    height: 54px;

    background: #7585BD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    border: 0px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #F4F1EC;
}

/* ----- Login botton when hover ----- */
.SubmitForLogin .btn::before,
.SubmitForLogin .btn::after {
    position: absolute;
    display: block;
    content: '';
    transition: all .5s;
}

.SubmitForLogin .btn:hover {
    background-color: #7EAC85;
    color: #F4F1EC;
}


/* ----------------------------------------------- */
/* ----- text for link to other login option ----- */
/* ----------------------------------------------- */
a {
    text-decoration: underline;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #7585BD;
}

a::before,
a::after {
    position: absolute;
    display: block;
    content: '';
    transition: all .5s;
}

a:hover {
  opacity: 0.5;
}

.txt_link_left{
    text-align: left;
    position: absolute;
    left: 76px;
}

.txt_link_right{
    text-align: left;
    position: absolute;
    right: 76px;
}


/* -------------------------------------------- */
/* ----- Don’t have an account? statement ----- */
/* -------------------------------------------- */
.Text-with-line {
    margin-top: 26px;
    text-align: center;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    
    color: #414141;

    display: block;
}
  
.Text-with-line:before,
.Text-with-line:after {
    content: "";
    display: inline-block;
    border-top: 1px solid #414141;
    width: 4em;
    vertical-align: middle;
}


/* -------------------------- */
/* ----- Sign UP botton ----- */
/* -------------------------- */
.GoToSignIn .btn{
    position: absolute;
    margin-top: 20px;
    margin-left: 68px;
    
    width: 321px;
    height: 54px;

    border: 5px solid #7585BD;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 35px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #7585BD;
}

/* ----- Sign UP botton when hover ----- */
.GoToSignIn .btn::before,
.GoToSignIn .btn::after {
    position: absolute;
    display: block;
    content: '';
    transition: all .5s;
}

.GoToSignIn .btn:hover {
    background-color: #7585BD;
    color: #F4F1EC;
}