
button, button > confirm {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    min-width: 180px;
    height: 54px;

    border: none;
    outline: none;
    border-radius: 27px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #F4F1EC;

    cursor: url(grab.cur), pointer;
    overflow: hidden;
}


button:active, button:active > confirm {
    cursor: url(grabbing.cur), pointer    
}
    
button > confirm {
    display: block;
    position: absolute;
    top: 0;
    padding: 0;
    padding-top: 10px;
    right: 100%;
    width: 100%;
    border: none;
    background: #7EAC85;
}

button > confirm:after {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    padding-top: 10px;
    padding-right: 60px;
    content: "\f054";
    font-family: "FontAwesome";
    font-weight: normal;
}
    
button[disabled], button[disabled] > confirm {
    cursor: default !important
}
    
button[disabled] > confirm:after {
    content: "\f00c"
}