//////////////////////////
body 
{
    background: #F4F1EC;
    font-family: 'Kanit';
}

/* ----- background of form ----- */
form {
    position: absolute;
    width: 439px;
    height: 165px;
    top: 216px;
    left: 292px;
    background: #7585BD;
    border-radius: 35px;
}


/* ----- Connect Bank Account button -----  */
.AddAccount{
    margin-top: 25%;
    text-align: center;
}
#btn2{
    margin-top: 90px;
    width: 321px;
    height: 54px;
    left: 352px;
    top: 596px;
    
    border: 5px solid #7585BD;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 35px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #7585BD;
}

/* ----- Connect Bank Account button  when hover ----- */
#btn2::before,
#btn2::after {
    position: absolute;
    display: block;
    content: '';
    transition: all .5s;
}

#btn2:hover {
    background-color: #7585BD;
    color: #F4F1EC;
}


/* ----- MyAccount Transfer ViewHistory ----- */
* {
    box-sizing: border-box;
  }
  
.col {
    float: right;
    width: 30%;
    padding-block: 2px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row .method{
    font-family: 'Kanit';
    color: #7585BD;
    font-weight: bold;
  }

  
.show_name {
     position: absolute;   
     height: 41px;   
     top: 51px;   
     font-family: Kanit;   
     font-style: normal;   
     font-weight: normal;  
     font-size: 24px;   
     line-height: 36px;   
     color: #414141; } 

/* ----- logo ATPC bank ----- */ 
.logo {   
      position: absolute;  
      width: 127px;   
      height: 127px;   
      left: 44px;   top: 29px; 
} 

/* ----- user's name show here! ----- */ 
.icon {  
      position: absolute;   
      width: 58.36px;  
      height: 58.36px;   
      left: 758px;   
      top: 43px; 
} 


.show_name {   
      position: absolute;  
      height: 41px;   
      top: 51px;   
      font-family: Kanit; 
      font-style: normal; 
      font-weight: normal;  
      font-size: 24px;  
      line-height: 36px;   
      color: #414141; 
} 

/* ----- LOGOUT botton ----- */ 
#btn3 {   
    position: absolute;  
    width: 131px;   
    height: 41px;  
    left: 838px;  
    top: 51px;  
    background: #7585bd;   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    border-radius: 35px;  
    border: 0px;   
    font-family: "Kanit";   
    font-style: normal; 
    font-weight: bold; 
    font-size: 18px;   
    line-height: 27px;  
    color: #f4f1ec;   
    outline: none; } 

/* ----- botton when hover ----- */ 
#btn3::before, #btn3::after {  
    position: absolute;   
    display: block;   
    content: "";  
    transition: all 0.5s; 
} 

#btn3:hover {   
    background-color: #e36262;   
    color: #f4f1ec;
 } 

.back #btn3:hover {   
    background-color: #fee684;  
    color: #7585bd; }


/*  profile in form */
.profile img{
    height: 100px;
    width: 100px;
    display: block;
    margin-top: 30px;
    margin-left: 35px;
    margin-bottom: -387px;
    border-radius: 0px; 
}

/*     number in form      */
p.test1 {
    font-family: 'Kanit';
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 35.88px;

    color: #F4F1EC;

    height: 41px;
    width: 172px;
    margin-left: 134px;
    margin-top: 24px;
}

p.test2 {
    font-family: 'Kanit';
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;

    color: #F4F1EC;

    height: 28px;
    width: 116px;
    margin-left: 134px;
    margin-top: -20px;
    margin-bottom: -20px;
}

p.test3 {
    font-family: 'Kanit';
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 72px;

    color: #F4F1EC;

    height: 72px;
    width: 226px;
    margin-left: 184px;
    margin-top: 20px;
    margin-bottom: -150px;
}











