body 
{
    background: #F4F1EC;
    font-family: 'Kanit';
}

/* ----- background of form ----- */
form {
    position: absolute;
    width: 439px;
    height: 165px;
    top: 216px;
    left: 292px;
    background: #7585BD;
    border-radius: 35px;
}


/* ----- Connect Bank Account button -----  */
.AddAccount{
    margin-top: 25%;
    text-align: center;
}

.AddAccount .btn{
    margin-top: 90px;
    width: 321px;
    height: 54px;
    left: 352px;
    top: 596px;
    
    border: 5px solid #7585BD;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 35px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #7585BD;
}

/* ----- Connect Bank Account button  when hover ----- */
.AddAccount .btn::before,
.AddAccount .btn::after {
    position: absolute;
    display: block;
    content: '';
    transition: all .5s;
}

.AddAccount .btn:hover {
    background-color: #7585BD;
    color: #F4F1EC;
}


/* ----- MyAccount Transfer ViewHistory ----- */
* {
    box-sizing: border-box;
  }
  
.col {
    float: right;
    width: 30%;
    padding-block: 2px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row .method{
    font-family: 'Kanit';
    color: #7585BD;
    font-weight: bold;
  }

  
/* ------- Navbar ------- */
.navUser {
    font-family: 'Kanit';
    color:black;
    font-size: 20px;
    font-weight: bold;
    right: 10px;
}
 
.button {
    font-family: 'Kanit';
    background-color:#7585BD;
    border: none;
    color: white;
    padding: 5px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
 
.navbar {
    overflow: hidden;
    bottom: 0;
    width: 100%;
}
  
.navbar a {
    float: left;
    display: block;
    color: #02111d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    color: #494e5a;
}






