/* ----- select_accout  ----- */
.select_accout , 
.next_select_accout {
    position: relative;
    width: 439px;
    height: 165px;
    left: 305px;

    background: #7585BD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    border: 0px;
    margin-bottom: 7px;

    font-family: "Kanit";
    font-style: normal;
    font-weight: normal;
    color:#F4F1EC;
    line-height: 36px;
}

.select_accout {
    opacity: 30%;
}


.next_select_accout ::before, 
.next_select_accout ::after 
{
    position: absolute;
    display: block;
    content: '';
    transition: all .5s;
}

.next_select_accout:hover
{
    background-color: #FEE684;
    color: #7585BD;
}


/* ----- account_type  ----- */
.select_accout .account_type label, 
.next_select_accout .account_type label {
    position: absolute;
    left: 28px;
    top: 25px;

    font-size: 24px;
}

/* ----- account_number  ----- */
.select_accout .account_number label,
.next_select_accout .account_number label {
    position: absolute;
    left: 28px;
    top: 55px;

    font-size: 18px;
}

/* ----- balance  ----- */
.select_accout .balance label,
.next_select_accout .balance label{
    position: absolute;
    right: 28px;
    bottom: 25px;

    font-size: 48px;
    font-weight: bold;
}

/* ----- main account  ----- */
.select_accout .main_account label,
.next_select_accout .main_account label{
    position: absolute;
    right: 28px;
    top: 29px;

    font-size: 18px;
    
    width: 150px;
    background: rgba(194, 204, 236, 0.5);
    border-radius: 35px;
}

.main_account label{
   padding-left: 25px;
}



/* ----- #### container for blue box ##### ----- */
.container_blue {
    position: relative;
    overflow:visible;
    top: 323px;
}


/* ----- #### check box ##### ----- */
.check {
    position: relative;
    left: 425px;
}




